---
---

@import "{{ site.theme }}";

body{
	background:top center no-repeat #252525;
	color: #d8d8d8;
	font-size: 16px;
}

#site_wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

#site_header {
	margin-top: 50px;
	padding-top: 0;
	margin-bottom: 0;
	a {
		font-weight: bold;
		font-size: 40px;
	}
}

#site_content {
	float: left;
	margin-top: 20px;
	padding-top: 0;
	border-right: 1px solid #d8d8d8;
	max-width: 790px;
	&>div {
		margin: 15px;
	}
}

#site_sidebar {
	width: 200px;
	margin-top: 20px;
	margin-left: 800px;
	padding-top: 0;
	.site_sidebar_item {
		margin: 5px;
		h3 {
			padding-bottom: 3px;
			border-bottom: 1px solid #d8d8d8;
		}
		a {
			color: #f0e7d5;
		}
		ul {
			padding-left: 0;
			margin-left: 15px;
		}
	}
}


a:link,a:visited,a:active {
	color:#e8e8e8;
}

article {
	color: #d8d8d8;
	font-size: 16px;
	a:link,a:visited,a:active {
		color:#0099ff
	}
	blockquote {
		padding: 0 0 0 10px;
		margin-left: 20px;
		border-left: 3px solid #0099ff;
	}
	div.img {
		margin-bottom: 20px;
		text-align: center;
	}
}

h1,h2,h3,h4,h5,h6 {
	color:#e8e8e8;
}